<div class="profile-information-text-field">
    <label class="profile-information-text-field__label" for="{{ name }}">{{ label }}</label>
    <input class="profile-information-text-field__input" type="{{ type }}" name="{{ name }}" value="{{ value }}">
</div>